/**
 * Customization of Lookbook using jquery-imagegallery plugin.
*/

.lookbook{
	padding-top: 22px;
}

.lookbook-pagination{
	position: absolute;
	right: 10px;
	top: 10px;
}

/**
	Customizing marker layer ( z-index ). 
	1 to be upper the number or -1 to be lower the number
*/
.lookbooky-container .lookbook-pagination-marker{
	z-index: 1;
	top: 3px;
	left: 3px;
}

.lookbooky-container .lookbook-pagination{
	left: 50%;
	margin-left: -112px;
	width: 224px;
}

.shop-all{
	position: absolute;
	right: 0px;
	top: 0px;
}

.copy{
	position: absolute;
	top: 54px;
	left: 125px;
	width: 416px;
	background: url('../img/copy-background.png') no-repeat center center;
	height: 492px;
	display: none;
}

.copy-dressed-to-fete{
	position: absolute;
	top: 76px;
	left: 90px;
	display: none;
}

.copy-spring-2014{
	position: absolute;
	top: 274px;
	left: 142px;
	display: none;
}

.copy-text{
	position: absolute;
	top: 330px;
	left: 69px;
	display: none;
}

.social{
	position: absolute;
	right: 20px;
	bottom: 10px;
	z-index: 1;
}
}